{% extends 'base.html' %}
{% block site_end %}

<body >
<h1 style="text-align: center">PRIDESPORT</h1>
<p>      ДВУБОЯТ ЗАПОЧВА МНОГО ПРЕДИ ИЗЛИЗАНЕТО НА РИНГА!

Уважаваеми приятели и партньори, горди сме, че можем да ви представим в нашия нов електронен магазин, едни от най-впечатляващите световни предложения, сред които ще намерите всичко, от което се нуждаете за най-големите състезания, за тренировки, както и за активна почивка през свободното време. Многобройните разнообразни артикули гарантират качество, което ще ви превърне в наши лоялни приятели и купувачи, каквито са редица световни шампиони от всички бойни спортове. Искаме да ви накараме да се гордеете, че и вие използвате нашите продукти. Представяме ви напълно обновените дизайнерски линии за бокс (AIBA, WBA, WBC, WBO, IBO, IBF), карате (WKF), таекуондо (WTF, ITF, PRO), джудо (IJF), ultimate fighting (UFC), смесени бойни изкуства (MMA), борба, кик бокс, тайландски бокс, фитнес...

Позволете ни да ви припомним представляваните от нас брандове.

PRIDE® [praid] англ. гордост; описва с една дума специфичния характер на борците и спортистите, ползващи тази марка. Ultimate Choice™ просто ви насочва към вашия окончателен избор и доказва, че вашето търсене най-после е приключило. То означава, че сте намерили марката, която отговаря на вашите желания и потребности, както и на най-високите изисквания на съвременните бойни изкуства и спортове и ги превръща в реалност, като ви осигурява успешни тренировки по пътя към шампионските титли. Несравнимото качество на артикулите, както и широкият им асортимент поставят продуктите на PRIDE® сред водещите брандове в света и задава най-високите стандарти. В създаването на най-новите продукти от линията на PRIDE® вземат участие най-големите майстори в бойните спортове, световни авторитети в областта на спортната медицина, както и съответните спортни институции и преди всичко най-известните съвременни спортисти.

ADIDAS® наистина няма нужда от представяне, можем само да споменем, че в нашия магазин можете да намерите най-новите екипи и дрехи от линията на ADIDAS® за бокс, карате, таекуондо и борба. Вероятно сте видели предлаганите от нас продукти на последните Олимпийски игри, както и на европейските и на световните първенства. Разбира се, предлаганите от нас продукти се използват и на най-големите шампионати по бокс във всички категории. Нашите продукти са одобрени от редица уважавани спортни институции, като например: AIBA, WTF, WKF, IJF, WBA, WBC, WBO, IBO, IBF, UFC… При нас можете да намерите най-доброто, което съвременните производители са в състояние да предложат, за да можем максимално да се приближим до вас, да обхванем цялата гама от вашите желания и потребности. Станете шампиони с екипировка, създадена от шампиони!

EVERLAST® е синоним на бокса още от далечната 1910 година. EVERLAST® използват или е използван от най-големите световни спортисти на всички времена, като тук ще споменем само някои от тях: Джо Фрейзър, Шугър Рей Робинсън, Джак Ла Мота, Лари Холмс, Mайк Тайсън, Ивендър Холифийлд, Джордж Форман, Мохамед Aли, Пърнъл Уитакър, Шугър Шейн Мосли, Джърмейн Тейлър и др… Днес EVERLAST® е изключителен доставчик за най-големите спортни събития, включително световните първенства по WBA, WBC, WBO, IBO, IBF, a продуктите на EVERLAST® са неизменна част от тренировките на най-известните съвременни спортисти.


Екипирай успеха с Прайд спорт!
</p>
</body>

{% endblock %}