{% extends "base.html" %}
{% block site_content %}
    <div class="container">
        <h1 class='text-center'>All gears</h1>
        <div class="row">
            {% for gear in gears %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ gear.image_url.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ gear.type }} {{ gear.name }}, Цена: {{ gear.price }}0лв</h5>
                        <p class="card-text">{{ gear.description }}</p>
                        <a class='btn btn-primary' href="{% url 'gear detail' gear.id %}"> Click </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
