{% extends "base.html" %}
{% block site_nav %}
<nav class="navbar navbar-expand-lg navbar-red bg-light" style="margin-bottom:2%">
    <a href="{% url 'landing page' %}"> <img id="logo" src="/media/676.png" alt="Home"/> </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="{% url 'gears' %}">All gears</a>
            <a class="nav-link" href="{% url 'create' %}">Add gears</a>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'register user' %}">Sign Up</a>
            </li>
        </ul>
    </div>
    <div class>
        {% if user.is_authenticated %}
{#            Hello, {{ user.username }}! <a class="nav-link" href="{% url 'user profile' user.id %}">Logout</a>#}
            Hello, {{ user.username }}! <a class="nav-link" href="{% url 'logout user' %}">Logout</a>

        {% else %}
            <a class="nav-link" href="{% url 'login user' %}">Login</a>
        {% endif %}
    </div>

</nav>
{% endblock %}