{% extends 'base.html' %}
{% block site_content %}
    {% load bootstrap4 %}
    <h1 class="text-center">Login</h1>
    <div class="row d-flex justify-content-center">
        <form method="POST" action="{% url 'login user' %}">
            <input type="hidden" name="return_url" value="{{ request.GET.next }}" />
            {% csrf_token %}
            {% for field in login_form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button class="btn btn-primary">Login</button>


                <h5 style="margin-top: 40px">
                If you don't have account
                    <a href='{% url 'register user' %}' class="btn btn-success">Register</a>

                </h5>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}