{% extends 'base.html' %}
{% block site_content %}
    {% load bootstrap4 %}
    <div class="text-center">
        <h1>Fighter: {{ user.username }}</h1>

        <img class="rounded-circle mb-3" src="{{ user.userprofile.profile_image.url }}"
             width="140"
             height="140">
        <h5>Born : {{ user.userprofile.date_of_birth }}</h5>
        <h5>Email : {{ user.userprofile.user.email }}</h5>
        <h5>With us since: {{ user.userprofile.user.date_joined }}</h5>
        <div class="w-50 m-auto">
            <form action="{% url 'user profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
                <button class="btn btn-primary">submit</button>
            </form>
        </div>

    </div>
    <hr>

    <div class="text-center">
    {% for gear in user.gears %}

        {% endfor %}
        <a href="{% url 'create' %}" class="btn btn-success">Add Gear</a>
    </div>
{% endblock %}